<header
  class="absolute z-50 top-0 w-full h-24 bg-section-bg px-[7%] flex justify-between items-center shadow-md"
>
  <a href="#home" class="text-white font-extrabold text-xl md:text-4xl">
    AlejandroSoto<span class="text-gradient-vex-green">.</span>site
  </a>
  <div
    class="absolute bottom-0 w-full left-1/2 -translate-x-1/2 h-1 bg-gradient-to-r from-gradient-vex-green to-gradient-vex-purple"
  >
  </div>
</header>
