<header class="fixed z-50 top-0 w-full h-24 border-b border-gray-500 bg-blend backdrop-blur bg-white/5 px-[7%] flex justify-between items-center shadow-md">
    <a href="#home" class="text-white font-extrabold text-4xl">
        AlejandroSoto<span class="text-red-500">.</span>site
    </a>
    <div>
        <a href="#Proyectos" class="text-white font-extrabold text-2xl ml-4">
            Proyectos
        </a>
        <a href="#Trabajos" class="text-white font-extrabold text-2xl ml-4">
            Experiencia
        </a>
        <a href="#Hobbies" class="text-white font-extrabold text-2xl ml-4">
            Sobre mí
        </a>
    </div>
</header>