---
import Carousel from "./atoms/carousel";
import Banner from "./atoms/jobsBanner.astro";
import CarouselController from "./atoms/carouselController";
import corner from "../assets/corner.svg";
import { Image } from "astro:assets";
import JobInfo from "./atoms/jobInfo.astro";
---

<section
  id="Trabajos"
  class="relative z-0 w-full h-svh flex flex-col justify-center items-center snap-center overflow-hidden bg-[#2C1F3D]"
>
  <div class="w-full grow relative px-[7%] flex md:flex-row flex-col gap-4">
    <!-- background -->
    <Image class="h-48 absolute bottom-0 right-0 z-10 w-fit aspect-[411/440] md:h-auto" src={corner} alt="corner" />
    <div class="absolute top-0 left-0 w-full h-full z-0">
      <Carousel section="jobs-bg" client:visible />
      <div class="absolute z-10 top-0 w-full h-full left-0 bg-black opacity-65">
      </div>
    </div>
    <JobInfo />
    <!-- carrousel -->
    <div
      class="w-full h-full relative z-20 flex flex-col justify-center items-center gap-4"
    >
      <div class="md:w-full w-2/3 aspect-video rounded-lg overflow-hidden shadow">
        <Carousel section="jobs" client:visible />
      </div>
      <div class="w-2/3 md:w-1/2">
        <CarouselController forSection="jobs" client:visible />
      </div>
    </div>
  </div>
  <Banner title="Experiencia" section="jobs" />
</section>