---
import Card from "./Card.astro";
import ReactIcon from "./ReactIcon.astro";
import TailwindIcon from "./TailwindIcon.astro";
import LaravelIcon from "./LaravelIcon.astro";
import TreeJSIcon from "./TreeJSIcon.astro";
import FirebaseIcon from "./FirebaseIcon.astro";
import HTMLIcon from "./HTMLIcon.astro";
import JSIcon from "./JSIcon.astro";
import ViteIcon from "./ViteIcon.astro";
import solidos from "../assets/solidos.png";
import gaibu from "../assets/Gaibu.png";
import menu from "../assets/menu.png";
---

<div class="h-3/4 max-h-[500px] flex">
  <div class="flex justify-center items-center">
    <svg
      class="w-16 h-16 text-white/50 cursor-not-allowed"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m14 8-4 4 4 4"></path>
    </svg>
  </div>
  <main class="h-full grow w-full max-w-4xl">
    <section class="grid grid-cols-3 gap-3 w-full h-full">
      <Card
        title="Menú para restaurantes"
        description="Un servicio de menú digital para restaurantes con subida de contenido"
        image={menu}
        href="https://solidos-en-revolucion.alejandrosoto.site/"
      >
        <ReactIcon />
        <TailwindIcon />
        <LaravelIcon />
      </Card>
      <Card
        title="Gaibu"
        description="Una tienda de libretas personalizadas donde puedes crear y ver tus propios diseños en tiempo real."
        image={gaibu}
        href="https://gaibu.shop/"
      >
        <ReactIcon />
        <TailwindIcon />
        <TreeJSIcon />
        <FirebaseIcon />
      </Card>
      <Card
        title="Sólidos en revolución"
        description="Una calculadora gráfica de solidos en revolución"
        image={solidos}
        href="https://solidos-en-revolucion.alejandrosoto.site/"
      >
        <HTMLIcon />
        <TailwindIcon />
        <JSIcon />
        <ViteIcon />
      </Card>
    </section>
  </main>
  <div class="flex justify-center items-center">
    <svg
      class="w-16 h-16 text-white/50 cursor-not-allowed"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m10 16 4-4-4-4"></path>
    </svg>
  </div>
</div>
