---
import Banner from "./atoms/banner.astro";
import LeftSection from "./atoms/left-section.astro";
import Carousel from "./atoms/carousel";
import Filter from "./atoms/filter";
import TopSection from "./atoms/top-section.astro";
import BottomSection from "./atoms/bottom-section.astro";
---

<section
  id="Proyectos"
  class="relative z-0 w-full h-svh flex flex-col justify-end items-center overflow-hidden snap-center bg-[#2C1F3D]"
>
  <div class="flex flex-col md:flex-row-reverse grow md:h-container w-full relative z-0">
    <TopSection />
    <div class="h-full w-full md:w-[calc(100vw-((100vh-9rem)*0.63))] relative">
      <Carousel section="projects" client:visible />
      <div class="absolute top-0 left-0 w-full h-full z-10 bg-black/30"></div>
    </div>
    <BottomSection />
    <LeftSection />
  </div>
  <Banner title="Proyectos" section="projects" />
  <Filter section="projects" client:visible />
</section>
