---
import bottom from "../../assets/section-bottom.svg";
import Chevron from "../icons/chevron";
---

<div
  class="absolute top-0 left-0 z-10 w-full h-svh grid grid-cols-[repeat(20,minmax(0,1fr))] lg:grid-cols-[repeat(45,minmax(0,1fr))]"
>
  {
    Array.from({ length: 30 ** 2 }).map((_, i) => (
      <div class="border-l border-b border-gray-50/15 hover:bg-white/25 transition-all duration-100 filter ease-out" />
    ))
  }
  <div
    class="absolute bottom-0 left-0 aspect-[202/26] w-full flex flex-col justify-end items-center"
  >
    <img src={bottom.src} class="object-cover absolute h-32 bottom-0 z-0 lg:object-contain lg:w-full lg:h-auto" />
    <p class="md:text-3xl text-xl text-white relative z-10 font-extrabold">
      El límite lo pone tu <span
        class="bg-gradient-to-b from-[#B52BF4] to-[#12A38B] bg-clip-text text-transparent"
        >imaginación</span
      >
    </p>
    <a href="#Proyectos" class="py-0 lg:py-5">
      <Chevron className="w-12 h-12 text-white animate-bounce" />
    </a>
  </div>
</div>
